<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp2</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Guess">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> GuessNumber
            </NavLink>
            </div>
      
           <div class="nav-item px-3">
            <NavLink class="nav-link" href="Coinflip">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Coinflip
            </NavLink>
            </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Diceroller">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Diceroller
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RPS">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> RPS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Circle">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Circle
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Reaction">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Reaction
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Cookieclicker">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cookieclicker
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Flappy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Flappy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Race">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Race
            </NavLink>
        </div>
        
    </nav>
</div>

